<!--<div class="row">-->
<!--    <div class="col-4"><h3>Địa chỉ của tôi</h3></div>-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--        <button class="btn btn-danger m-0" data-toggle="modal" data-target="#basicExampleModal">-->
<!--            Thêm địa chỉ mới-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
<!--<div>-->
<!--    <hr/>-->
<!--    <div>-->
<!--        <div class="row mb-3">-->
<!--            <div class="col-4" style="color: #aaaaaa">-->
<!--                Họ & tên-->
<!--            </div>-->
<!--            <div class="col-8">data.name_receiver-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row mb-3">-->
<!--            <div class="col-4" style="color: #aaaaaa">-->
<!--                Số điện thoại-->
<!--            </div>-->
<!--            <div class="col-8">data.number_receiver-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row mb-3">-->
<!--            <div class="col-4" style="color: #aaaaaa">-->
<!--                Địa chỉ-->
<!--            </div>-->
<!--            <div class="col-8">-->
<!--                data.detail_address-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div>looooooooooooooooooooooooo</div>