<div class="col mb-3">
    <a href="#!">
        <!-- Card -->
        <div class="card">
            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" style="height: 369px" src="<%= row1.link_image %>"
                     alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"><%= row1.name_product %></h4>
                <!--Review-->
                <i class='fas fa-star blue-text'> </i>
                <i class='fas fa-star blue-text'> </i>
                <i class='fas fa-star blue-text'> </i>
                <i class='fas fa-star blue-text'> </i>
                <i class='fas fa-star blue-text'> </i>
                <p><%= row1.cost %> VNĐ</p>
            </div>
        </div>
        <!-- Card -->
    </a>
</div>
