<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdbootstrap/css/style.css">
</head>

<body>

<%- include('path_div/navBarHome.ejs') %>

<!-- Bắt đầu code-->
<div style="background-color: gainsboro">
    <div class="container" style="background-color: white">
        <div class="row">
            <div class="col-3 pt-2 pb-2" style="background-color: gainsboro">
                <!--                phần hiển thị tên user-->
                <div class="row ml-4">
                    <div class="mr-3">
                        <img src="/images/unnamed.png" style="width: 48px; border-radius: 100%">
                    </div>
                    <div>
                        Name_user
                        <div style="color: burlywood">
                            <i class="fas fa-pen"></i><span>Chỉnh hồ sơ</span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row ml-4" type="button">
                    <div class="mr-3">
                        <img src="/images/unnamed.png" style="width: 24px; border-radius: 100%">
                    </div>
                    <div>
                        Tài khoản của tôi
                    </div>
                </div>

                <div>
                    <div>
                        <div class="mt-3">
                            <nav class="nav flex-column lighten-4 pl-3 ml-5">
                                <li class="nav-item mb-1" type="button" onclick="btnFile()">
                                    Hồ sơ
                                </li>
                                <li class="nav-item mb-1" type="button" onclick="btnAddress()">
                                    Địa chỉ
                                </li>
                                <li class="nav-item mb-1" type="button">
                                    Trạng thái đơn hàng
                                </li>
                                <li class="nav-item mb-1" type="button" onclick="btnChangePassW()">
                                    Đổi mật khẩu
                                </li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9" id="divData">
                <h4>Hồ sơ cửa tôi</h4>
                <h6>Quản lý thông tin hồ sơ để bảo mật tài khoản</h6>
                <hr/>
                <div class="row">
                    <div class="col-7">
                        <div class="pl-1">
                            <div class="row mb-3">
                                <div class="col-5" style="color: #aaaaaa">Tên Đăng Nhập</div>
                                <div class="col-7">kthdhoang1998</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-5" style="color: #aaaaaa">Tên</div>
                                <div class="col-7">
                                    <input type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-5" style="color: #aaaaaa">Số điện thoại</div>
                                <div class="col-7">**********88<span><a href="#!" style="font-size: 12px"> Thay đổi</a></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-5" style="color: #aaaaaa">Giới tính</div>
                                <div class="col-7">
                                    <!-- Default inline 1-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline1"
                                               name="inlineDefaultRadiosExample">
                                        <label class="custom-control-label" for="defaultInline1">Nam</label>
                                    </div>

                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline2"
                                               name="inlineDefaultRadiosExample">
                                        <label class="custom-control-label" for="defaultInline2">Nữ</label>
                                    </div>

                                    <!-- Default inline 3-->
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline3"
                                               name="inlineDefaultRadiosExample">
                                        <label class="custom-control-label" for="defaultInline3">Khác</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-5" style="color: #aaaaaa">Ngày sinh</div>
                                <div class="col-2">
                                    <select>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select>
                                        <option>Tháng 10</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select>
                                        <option>2001</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <button class="btn btn-danger">
                                    Lưu
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="col-5">
                        <div class="p-2">
                            <div class="" style="border-left: 1px solid #acacac">
                                <div class="ml-2">
                                    <img class="ml-5 mb-3" src="/images/unnamed.png"
                                         style="width: 104px; border-radius: 100%">
                                    <input type="file" value="Chọn ảnh">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Kết thúc code-->


<!--ckeditor-->
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<!--<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>-->
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!--phần nút hồ sơ, địa chỉ, đổi mật khẩu-->
<script>
    // nút hồ sơ
    const btnFile = async () => {
        try {
            window.open(`/user/profile_user?id_user=<%= id_user %>`, `_self`);
        } catch (e) {
            console.error(e);
        }
    }

    // nút địa chỉ
    const btnAddress = async () => {
        try {
           window.open(`/user/pageAddress?id_user=<%= id_user %>`, `_self`);
        } catch (e) {
            console.error(e);
        }
    }

    // nút đổi mật khẩu
    const btnChangePassW = async () => {
        try {

        } catch (e) {
            console.error(e);
        }
    }
</script>

</body>
</html>