<div>
    <!--        nút home-->
    <a class="navbar-brand" href="/homeUser?id_user=<%= id_user %>">Trang chủ</a>
    <div class="float-right">
        <div class="navbar-brand">Xin chào <span style="font-weight: bolder"><a href="/user/profile_user?id_user=<%= id_user %>"><%= result_account[0].name_user %></a></span>
        </div>
        <a class="navbar-brand" href="/">Đăng xuất</a>
    </div>
</div>